[url "ssh://git@gitlab.sezzle.com:10022"]
	insteadOf = https://gitlab.sezzle.com

[user]
	name = Chris Arnold
	email = chris.arnold@sezzle.com
[push]
	default = current
	followTags = true
[core]
	excludesfile = /Users/chris.arnold/.gitignore_global
	hooksPath = /usr/local/bin/git-hooks
[init]
	defaultBranch = production
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[pull]
	rebase = false
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
